.container{
    background-image: url(../../images/model-s.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textitem{
    text-align: center;
    display: flex;
    font-size: larger;
    flex-direction: column;
    padding-top: 100px;
    color: white;
}
.buttons{
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.leftButton{
    padding: 0;
    width: 300px;
    opacity: 0.5;
    height: 45px;
    background-color: black;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.rightButton{
    padding: 0;
    width: 300px;
    opacity: 0.5;
    height: 45px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.all-buttons{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.all-buttons img{
    animation: upDown infinite 1.5s;
}



.top{
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 30px;
}

@media (max-width: 980px) {
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .tesla{
        height: 20px;
    }
    .second-menu img {
        height: 15px;
    }
    .second-menu {
        font-size: 15px;
        font-weight: 700;
    }
    
}

