*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tesla{
    height: 1.3vh;
    
}

@media (max-width: 900px){
    .tesla{
        height: 1.3vh;
        width: 7rem;
        
    }

    

}

body{
    font-family:
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

@keyframes upDown {
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(5px);
    }

    60%{
        transform: translateY(3px);
    }
    
}

.menu{
    display: none;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: color .33s ease, background-color .33s ease;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px) saturate(120%) drop-shadow(4px 4px 10px black) ;

}
button{
    height: 15px;
    width: 15px;
    border: 0;
    border-radius: 30px;
}

button:active{
    color: rgb(149, 148, 148);
}

header{
    width: 100vw;
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    z-index: 1000;
    cursor: pointer;
    
}

header a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
   transition: color .33s ease, background-color .33s ease;
}

header a:hover{
   background-color: rgba(0, 0, 0, .2);
   backdrop-filter: blur(10px) saturate(120%) drop-shadow(4px 4px 10px black) ;
   padding: 10px 20px;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 0.5rem;
}
.second-menu{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    
}
.second-menu img{
    height: 30px;
    border-radius: 5px;
}



.img:hover{
    
   background-color: rgba(0, 0, 0, .2);
   backdrop-filter: blur(10px) saturate(120%) drop-shadow(4px 4px 10px black) ;

}
.navBar li {
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    
}
.navBar li a{
    font-weight: 600;
}
.navBar img {
    margin-left: 230px;
   
}
.navBar{
    position: fixed;
    top:0;
    bottom: 0;
    right:0;
    background: transparent;
    backdrop-filter: blur(10px ) saturate(120%) drop-shadow(4px 4px 10px black);
    width: 300px;
    z-index: 100;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    
}
@media (max-width: 1150px) {
    header nav ul{
        display: none;
    }
    body{
        overflow-x: hidden;
    }

    .all-buttons img{
        margin-bottom: 20px;
    }
    .second-menu{
        display: none;
    }
    .menu{
        display: block;
    }
    
}